body{
  background-color: #6dd4ed;
}
h1{
  font-weight: normal;
  font-size: 100px;
  background-color: #65318F;
  margin: 0px;
  padding: 2px;
  text-align: center;
  border: 2px solid black;
  font-family: papyrus;
  grid-column: span 3;
}

h3{
  text-shadow:
   /* Outline */
   -1px -1px 0 #000000,
   1px -1px 0 #000000,
   -1px 1px 0 #000000,
   1px 1px 0 #000000,
   -2px 0 0 #000000,
   2px 0 0 #000000,
   0 2px 0 #000000,
   0 -2px 0 #000000;
  grid-column: span 3;
  font-size: 40;
  color: white;
  text-align: center;
  font-family: papyrus;
  display: inline;
}
  h4{
    text-shadow:
   /* Outline */
   -1px -1px 0 #000000,
   1px -1px 0 #000000,
   -1px 1px 0 #000000,
   1px 1px 0 #000000,
   -2px 0 0 #000000,
   2px 0 0 #000000,
   0 2px 0 #000000,
   0 -2px 0 #000000;
    grid-column: span 3;
    font-size: 30;
    color: white;
    text-align: center;
    font-family: papyrus;
    display: inline;

}
img{
  grid-column: span 1;
  padding: 20px;
  margin: 0px;
  border-radius: 50px;
  box-shadow: 10px 10px 10px black;
  background-color: #7e3eb3;
}
p{
  grid-column: span 3;
  margin: 0px;
  padding: 50px;
  text-align: justify;
  text-align: center;
  font-family: times-new-roman;
  color: white;
  text-shadow:
   /* Outline */
   -1px -1px 0 #000000,
   1px -1px 0 #000000,
   -1px 1px 0 #000000,
   1px 1px 0 #000000,
   -2px 0 0 #000000,
   2px 0 0 #000000,
   0 2px 0 #000000,
   0 -2px 0 #000000;

}
#listStuff{
  grid-column: span 3;
  margin: 0px;
  padding: 2px;
  text-align: justify;
  text-align: left;
  font-family: times-new-roman;
  color: white;
  text-shadow:
   /* Outline */
   -1px -1px 0 #000000,
   1px -1px 0 #000000,
   -1px 1px 0 #000000,
   1px 1px 0 #000000,
   -2px 0 0 #000000,
   2px 0 0 #000000,
   0 2px 0 #000000,
   0 -2px 0 #000000;
}
