body{
  background-image: url(Bernie_Pre_Tea2.jpg);
}
h1{
  font-weight: normal;
  font-size: 100px;
  background-color: #FC28FC;
  margin: 0px;
  padding: 2px;
  text-align: center;
  border: 2px solid black;
  font-family: papyrus;
  grid-column: span 3;
}
h2{
  padding: 0px;
  font-size: 45;
  color: pink;
  text-align: center;
  font-family: papyrus;
  grid-column: span 3;
  text-shadow: 2px 2px 10px pink;

}
#LDheader{
  font-size: 40;
  color: white;
  text-align: left;
  font-family: papyrus;
  grid-column: span 2;
  text-shadow: 2px 2px 10px #b8b8b8;

}
#LDbody{
  text-align: center;
  font-family: times-new-roman;
  color: white;
  grid-column: span 4;
}
.crazypic{
  width: 400px;
  border-radius: 10px;
}

#CPheader{
  font-size: 40;
  color: white;
  text-align: center;
  font-family: papyrus;
  grid-column: span 3;
  text-shadow: 2px 2px 10px #b8b8b8;
}

#smolheader
{
  font-size: 30;
  color: white;
  text-align: center;
  font-family: papyrus;
  grid-column: span 3;
}
#CPbody{
  text-align: left;
  font-family: times-new-roman;
  color: white;
  grid-column: span 2;

}
.title{
  font-size: 30;
  color: black;
  text-align: center;
  font-family: papyrus;
  grid-column: span 3;
  text-shadow: 2px 2px 10px #232323;

}
p a{
  color: #5cb6ff;
  text-decoration: none;
}
p a:hover{
  color: #1163a6;
  text-decoration: none;
}

.LDlink{
  font-size: 14;
  color: #5cb6ff;
  text-decoration: none;
  text-align: center;
  font-family: times-new-roman;
  grid-column: span 4;
  text-shadow: 2px 2px 10px #b8b8b8;
}

.LDlink a:hover{
  color: #1163a6;
  text-decoration: none;
}

.FullImage{
  image-orientation:center
  width: 400px;
  border-radius: 10px;
  grid-column: span 4;
  grid-row: span 1;
}

.studioImages{
  width: 200px;
  border-radius: 20 px;
  grid-column: span 1;
  grid-row: span 1;
}

.Woodman{
  width: 400px;
  border-radius: 10px;
  grid-column: span 1;
